# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# YAML files (Ansible, Hiera)
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Terraform files
[*.tf]
indent_style = space
indent_size = 2

# Puppet files
[*.{pp,epp}]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Ruby files (Vagrantfile, etc.)
[{Vagrantfile,*.rb}]
indent_style = space
indent_size = 2

# Makefile (must use tabs)
[Makefile]
indent_style = tab
insert_final_newline = true
charset = utf-8
end_of_line = lf

# Markdown files (preserve trailing whitespace for line breaks)
[*.md]
trim_trailing_whitespace = false
